/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.welcome {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2ECCFA;
    text-align: center;
}

.welcome li {
	display: inline-block;
    border-left:1px solid #bbb;
    font-size: 200%;
}

.welcome li:last-child {
    border-right:1px solid #bbb;
}

.welcome li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.welcome li a:hover:not(.active) {
    background-color: white;
}

.active {
    background-color: inherit;
 }

.posted_date {
	font-size: 8px;
}
.portals {
    font-size: 1.25em;
    line-height: 1.2;
    list-style-type: none;
    text-align: left;
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2ECCFA;

}
.portals hover:not(.active){
    background-color: white;
}